
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    background-image: url('../assets/pokemon grass.png');
    background-repeat: no-repeat;
    background-image: repeat none;
    background-size: cover;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
   
}

input {
    display: none;
    
    
}

input:checked + img {
    box-shadow: 3px 3px 3px 3px rgb(219, 240, 111);
    cursor: pointer;
}

image {
    size: 30px;
}

h1 {
    display: flex;
    color: red;
    align-items: center;
    size: 40px;
}

button {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: solid;
    width: 100%;
    height: 400px;

}
thead {
    text-align: center;
}

td {
    border: solid;
    border-width: 2px;
    text-align: center;
    width: 60%;
}

h1 {
    display: flex;
    justify-content: center;
}

.results {
    background: white;
    margin-top: 30px;
    
}

audio{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@font-face {
    font-family: "Pokemon GB";
    src: url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.eot?") format("eot"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.woff") format("woff"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.ttf") format("truetype"),
         url("https://dl.dropboxusercontent.com/u/10822923/Pokemon_GB/Pokemon_GB.svg#PokemonGB") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  .box {
    font-size: 20px;
    font-family: "Pokemon GB", Arial, sans-serif;
    border-radius: 2px;
    padding: 8px;
    width: 400px;
    height: 100px;
    line-height: 16px;
    margin: auto;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
  }

  .box > i {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    margin-top: 23px;
    animation: bounce 0.5s ease-in-out 0 infinite alternate;
    float: right;
  }
  
  @keyframes bounce {
    from { margin-top: 20px; }
    to { margin-top: 23px; }
  }
  
  
  